.label
  font-size: 1.3rem
  font-weight: 300
  color: $color-dark

.label[required]::after
  content: ' *'
  color: $color-warning

.input-field
  border: none
  border-bottom: 1px solid $color-light
  margin: 2rem 0
  font: 200 2rem $font-stack
  background-color: $color-secondary
  outline: none
  color: $color-dark

button:focus, select:focus
  outline: none
  
.text-field::placeholder
  color: $color-medium
  text-align: center
  font: 200 1rem $font-stack

::-webkit-input-placeholder 
  color: $color-medium
  text-align: center
  font: 200 2rem $font-stack

.validation-error
  position: absolute
  top: 6.5rem
  width: max-content
  color: $color-warning
  font-size: 1.2rem
