* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), url('fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), url('fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), url('fonts/Montserrat-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Italic';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), url('fonts/Montserrat-Italic.woff') format('woff');
}
