$color-primary: #0e73f8
$color-secondary: white
$color-primary-dark: white
$color-primary-light: #ffffff                                                                                                       

$font-stack: 'Montserrat', sans-serif
